body, input, button, section
{
	background: black;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.3;
	font-size: 14px;
	font-weight: 700;
	box-sizing: border-box;
}

p
{
	margin: 0 0 10px;
}

h1, h2, h3, code, a, a:visited, .highlight
{
	font-weight: normal;
	font-size: 14px;
	color: #c4cac8;
	font-weight: 700;
	text-decoration: none;
}

.highlight
{
	cursor: pointer;
}

section
{
	width: 640px;
	margin: 0 auto;
	background: #101614;
	padding: 10px 20px 20px;
	margin-top: 50px;
	background-image: url("/event-header.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

@media(max-width: 640px)
{
	section
	{
		width: 100%;
	}
}

nav
{
	position: fixed;
	top: 0;
	left: 0;
	width: 50px;
	padding: 80px 5px;
	bottom: 0;
	transition: width 0.4s, background 0.2s;
	z-index: 99;

	background: url('/menu.png') no-repeat,
		linear-gradient(90deg, rgb(25, 40, 35), rgba(25, 40, 35, 0.8) 30px, transparent 30px);
}

nav a
{
	display: block;
	height: 20px;
	padding: 0 5px 10px 25px;
	vertical-align: middle;
	white-space: nowrap;
	overflow: visible;

	background-image: var(--image);
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

nav span
{
	display: inline-block;
	opacity: 0;
	transition: opacity 0.4s;
}

nav:hover
{
	width: 200px;
	border-right: 1px solid #72b89c;
	background: url('/menu.png') no-repeat,
		linear-gradient(90deg, rgb(25, 40, 35), rgba(25, 40, 35, 0.8));
}

nav:hover>a>span
{
	opacity: 1;
}

section>h1:first-child, section>h2:first-child {
	text-align: left;
	font-size: 20px;
	height: 40px;
	padding: 0;
	margin: 0 0 15px;
	font-weight: 400;
}

section>img {
	margin-left: 20px;
}

section main
{
	background: #0a0e0d;
	color: #72b89c;
	padding: 3px;
	border: 1px solid #72b89c;
	margin: 10px 0;
}

section>a, button
{
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	padding: 3px;
	border: 1px solid #72b89c;
	background: #192823;
	text-decoration: none;
	color: #c4cac8;
	font-size: 14px;
	margin-top: 5px;
	cursor: pointer;
}

button[disabled] {
	color: #888;
	text-decoration: line-through;
}

section a:hover, button:not([disabled]):hover {
	background: #144;
	background: linear-gradient(to bottom, #033 0%,#144 50%, #244 100%);
}

button[style]:before {
	position: absolute;
	left: 5px;
	top: -3px;
	display: inline-block;
	height: 30px;
	width: 30px;
	background-image: var(--image);
	background-size: 30px 30px;
	content: ' ';
}

button[style]:after {
	position: absolute;
	left: 40px;
	top: -3px;
	display: inline-block;
	height: 30px;
	width: 30px;
	background-image: var(--image-alt);
	background-size: 30px 30px;
	content: ' ';
}

section a:visited {
	color: #c4cac8;
}

section main input {
	background: black;
	color: #c4cac8;
	font-size: 14px;
}

section a>span, section button>span
{
	display: none;
	position: absolute;
	padding: 10px;
	font-size: 12px;
	background: rgba(10, 15, 14, 80%);
	top: 120%;
	top: calc(100% + 20px);
	left: 30%;
	max-width: 500px;
	z-index: 999;
	text-align: left;
	border: 1px solid #72b89c;
}

section a:hover>span, button:hover>span {
	display: block;
}

li>input[type="checkbox"] {
	margin-left: -20px;
	margin-right: 2px;
}

#listings>h3, #listings>p {
	margin-left: 1em;
	margin-right: 1em;
}

#listings>h3:not(:first-child) {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid #72b89c;
}
