body, input
{
	background: black;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.3;
	font-size: 14px;
	font-weight: 700;
}

p
{
	margin: 0 0 10px;
}

h1, h2, h3
{
	font-weight: normal;
	font-size: 14px;
	color: #c4cac8;
	font-weight: 700;
}

section
{
	width: 600px;
	margin: 0 auto;
	background: #101614;
	padding: 10px 20px 20px;
	margin-top: 50px;
	background-image: url("/event-header.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

section>h1:first-child, section>h2:first-child {
	text-align: left;
	font-size: 20px;
	height: 40px;
	padding: 0;
	margin: 0 0 15px;
	font-weight: 400;
}

section>img {
	margin-left: 15px;
}

section main
{
	background: #0a0e0d;
	color: #72b89c;
	padding: 3px;
	border: 1px solid #72b89c;
	margin: 10px 0;
}

section>a, section input[type="submit"]
{
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	padding: 3px;
	border: 1px solid #72b89c;
	background: #192823;
	text-decoration: none;
	color: #c4cac8;
	font-size: 14px;
	margin-top: 5px;
	cursor: pointer;
}

section a:visited {
	color: #c4cac8;
}

section main input {
	background: black;
	color: #c4cac8;
	font-size: 14px;
}

section a span
{
	display: none;
	position: absolute;
	padding: 10px;
	font-size: 10px;
	background: #0a0e0d;
	top: 110%;
}

section a:hover span {
	display: block;
}

